<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.Client.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.Common.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.Interfaces.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.OrmLite.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.OrmLite.SqlServer.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.Redis.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
  <package id="ServiceStack.Text.Core" version="5.9.0" targetFramework="netcoreapp3.1" />
</packages>